
.news_page {
    padding: 20px;
    background: white;
    height: 100vh;
}

.cast_news {
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    background:white;
    display: flex;
    margin-bottom: 15px;
}
.cast_news img{
    border-radius: 4px;
    width: 300px;
}

.cast_news h1{
    color: black;
    font-size: 25px;
    text-align: left;
}

.cast_news h1:hover{
    color: green;
}


.cast_news label{
    color: gray;
}