
.movie-detail {
    height: 100vh;
    background-image: linear-gradient(to right,black,black,transparent);
}


.movie-detail img{
    height: 100%;
    width: 100%;
    opacity: 0.2;
    pointer-events: none;
}

.poster{
    height: 500px;
    width: 300px;
    top: 10%;
    left:20px;
}

.movie-detail .poster img{
    height: 100%;
    width: 100%;
}
.text {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff;
    position: absolute;
    display: flex;
    top: 20%;
    right: 10px;
}
.text p{
    margin-right: 20%;
    margin-left: 5%;
}



