
.header a{
    color: black;
}
.header label{
    text-transform: uppercase;
    font-size: 19px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.header a:hover{
    color: brown;
}

.header .search{
    right: 10px;
    left: 10px;
}


.header .avatar img{
    width: 40px;
    border-radius: 50%;
}

.user {
    text-transform: uppercase;
}

.user:hover {
    color: red;
}

.header img{
    width: 50px;
    transform: translateY(-3px);
    cursor: pointer;
}

