
.body{
    min-height: 100vmax;
    width:100%;
    background: linear-gradient(to bottom, #1e8baf 0%, #ff99cc 100%);
}

.body h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 1.5px;
}


.fg_pass{
    text-align: center;
}

.fg_pass .fg_row{
    padding: 10px;
    margin: 5px;
}
.fg_pass .fg_row button{
    background:black;
    color: white;
}

.fg_pass .fg_row input{
    margin: 10px;
}

.recent-activity{
    margin-left: 10px;
}

.profile {
   padding: 10vw;
}
.profile .card {
    width: 350px;
    border: 0;
}
.banner{
    width: 300px;
    height:150px;
    background-size: cover;
}

.card .avatar{
    width: 100px;
    height: 100px;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.infor {
    transform: translateY(-60px);
}
.avatar img{
    
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.card .avatar span{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 50%;
    background: #fff8;
    text-align: center;
    font-weight: 400;
    color:blue;
    transition: 0.3 ease-in-out;
    text-transform: uppercase;
}

.card .avatar:hover span{
    bottom: 0;
}

.card .avatar #file_up{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.profile label{
    display: block;
    text-transform:initial;
}

.movies{
    display: flex;
    overflow-x: auto;
    margin-top: 1em;
    overflow-y: hidden;
}
Title text{
    margin: 50px;
    padding: 10em;
}
.container .body{
    width: 80%;
    margin: 1rem auto;
}
.container .content{
    width: 20%;
    float: right;
}



.framework {
    width: 1000px;
    border-style: solid ;

}

.movies-banner {
    background:
            linear-gradient(to bottom, rgba(0,0,0,0)
            39%,rgba(0,0,0,0)
            41%,rgba(0,0,0,0.65)
            100%)
            ;
    height: 100%;
    background-position: center center;
    min-width:1000px;

}

.detail {
    position: relative;
}
.detail-banner img{
    opacity: 0.5;
    width: 100vw;

}
.detail-card{
    position:absolute;
    left: 15%;
    top: 20%;
    height: 65%;
    display: flex;
}
.detail-card label{
    color: white;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
}
.detail-card label Button{
    position: absolute;
    bottom: 0;
}
.detail-card img{
    height: 100%;
    margin-right: 20px;
}

