.body-admin{
    height: 100vh;
    background: white;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.body-admin h2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align:start;
}

.user-Admin{
    width: 100%;
    height: 60px;
    color:white;
    background: black;
    text-align: center;
    font-size:24px;
    padding-top: 30px;
}
.account{
    padding: 20px;
    height: 100vh;
    width: 100%;
    background:green;
}
.account button{
    float: right;
    border-radius: 10px;
    color: black;
}

.body-admin .account .user-info{
    color: white;
}
.news{
    height: 100vh;
    width: 100%;
    background:red;
    padding: 20px;

}
.advertisement {

    height: 100vh;
    width: 100%;
    background:royalblue;
    padding: 20px;
}
.theaters{
    height: 100vh;
    width: 100%;
    padding: 20px;
    background:brown;
}
.admin-movies{
    height: 100vh;
    width: 100%;
    background:tomato;
    padding: 20px;
}

.information{
    height: 100%;
    display: flex;
    background:linear-gradient(to bottom,#C4E0E5,#4CA1AF);
}
.information .left-infor{
    height: 100%;
    width: 200px;
}
.information .left-infor img{
    width: 100%;
    border-radius: 50%;
}
.information .right-infor{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
}

.admin-movies .add button{
    background: black;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.AddNewMovie img{
    height: 700px;
    width: 350px;
    background: black;
}

.AddNewMovie .movie-search {
    padding: 10px;
}
.AddNewMovie .movie-search .search-detail{
    height: 300px;
    margin: auto;
}

.AddNewMovie .movie-search .search-detail img{
    height: 100%;
    width: 100%;
    cursor:pointer;
}


.facebook-login{
    width: 83%;
}







