.body-admin{
    height: 100vh;
    background: white;
    display: block;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

.body-container {
    padding: 20px;
    height: 100vh;
    width: 100%;
    background: rgb(83, 131, 153);
}
.body-admin h2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align:start;
}

.user-Admin{
    width: 100%;
    height: 60px;
    color:white;
    background: black;
    text-align: center;
    font-size:24px;
    padding-top: 30px;
}

.information-user img{
    height: 150px;
    border-radius: 50%;
}

.button_add Button{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: white;
    background: black;
    position: fixed;
    bottom: 10px;
    right: 10px;
}










