.body-admin{
    height: 100vh;
    background: white;
    position: relative;
    display: flex;
    overflow: hidden;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}
.body-admin h2{
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align:start;
}

.user-Admin{
    width: 100%;
    height: 60px;
    color: white;
    text-align: center;
    font-size:24px;
    padding-top: 30px;
}
.headder-admin{
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}
.account{
    padding: 20px;
    position: absolute;
    height: 100vh;
    width: 100%;
    background:green;
    transition: transform 0.4s ease-in-out;
}
.account button{
    float: right;
    border-radius: 10px;
    color: black;
}

.body-admin .account .user-info{
    color: white;
}
.news{
    position: absolute;
    height: 100vh;
    width: 100%;
    background:red;
    transition: transform 0.4s ease-in-out;
}
.advertisement {
    position: absolute;
    height: 100vh;
    width: 100%;
    background:royalblue;
    transition: transform 0.4s ease-in-out;
}
.theaters{
    position: absolute;
    height: 100vh;
    width: 100%;
    background:yellow;
    transition: transform 0.4s ease-in-out;
}
.admin-movies{
    position: absolute;
    height: 100vh;
    width: 100%;
    background:tomato;
    transition: transform 0.4s ease-in-out;
}

.information{
    height: 100%;
    display: flex;
    background:linear-gradient(to bottom,#C4E0E5,#4CA1AF);
}
.information .left-infor{
    height: 100%;
    width: 200px;
}
.information .left-infor img{
    width: 100%;
    border-radius: 50%;
}
.information .right-infor{
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: white;
}






